#Common configuration

PORT=3001
#Can be either [development, test, staging, production]
SERVER_ENV=development
HANDLE_REQUEST_RETRIES_TIME=0

#----------------------------------------------
#For creating secure password

PASSWORD_SECRET=

#----------------------------------------------
#Sharetribe Flex environment

#For admin integration API
SHARETRIBE_FLEX_INTEGRATION_CLIENT_ID=
SHARETRIBE_FLEX_INTEGRATION_SECRET_ID=

#For client SDK 
SHARETRIBE_SDK_CLIENT_ID=
SHARETRIBE_SDK_SECRET_ID=
SHARETRIBE_SDK_TRANSIT_VERBOSE=true
SHARETRIBE_SDK_BASE_URL=https://flex-api.sharetribe.com

#----------------------------------------------
#AWS configuration

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
SERVER_AWS_REGION=

#SES
AWS_SES_REGION=

#----------------------------------------------
#Email configuration
ADMIN_EMAIL_ADDRESS=
SENDER_EMAIL_ADDRESS=
DEFAULT_PAGE_EMAIL_PREFIX=
DEFAULT_PAGE_EMAIL_SUFFIX=@journeyh.io

#----------------------------------------------
#SMS configuration
SMS_ACCOUNT_SID=
SMS_AUTH_TOKEN=
SMS_HOSTED_NUMBER=

#----------------------------------------------
#Stripe configuration

STRIPE_SECRET=
STRIPE_VERSION=2020-03-02
STRIPE_ENDPOINT_SECRET=
STRIPE_CONNECT_ENDPOINT_SECRET=

#Stripe subscription configuration
STRIPE_SHOULD_END_SUBSCRIPTION_IMMEDIATELY=
STRIPE_CUSTOMER_TRIAL_PERIOD=
STRIPE_SHOULD_END_SUBSCRIPTION_TRIAL_IMMEDIATELY=

#----------------------------------------------
#Website
WEB_CANONICAL_URL=
MARKETPLACE_NAME=